body {
    font-family: 'Open Sans', sans-serif;
    background: #f5f5f5;
    margin: 0;
    padding: 0;
    color: #333;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lora', serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
}

.navbar {
    background: #333;
    color: white;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease;
}

.logo img {
    height: 50px;
    border-radius: 50%;
    transition: transform 0.3s ease-in-out;
}

.logo img:hover {
    transform: scale(1.1);
}

.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s ease-in-out, transform 0.3s;
}

.nav-links a:hover {
    color: #ff9800;
    transform: scale(1.1);
}

.main-content {
    padding-top: 120px;
}

.common-container {
    text-align: center;
    padding: 50px 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    animation: fadeInUp 1s ease-in-out;
}

.background-logo {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: auto;
    opacity: 0.15;
    z-index: -1;
}

.card, .welcome-box {
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    width: 100%;
}

.card:hover, .welcome-box:hover {
    transform: translateY(-10px);
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

h1 {
    font-size: 2.5em;
    margin: 20px 0;
    font-weight: 700;
}

p {
    font-size: 1.2em;
}

a {
    font-size: 1.2em;
    font-weight: 700;
}

/* Custom scrollbar styles */
body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-track {
    background: #f5f5f5;
    border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
    background-color: #333;
    border-radius: 10px;
    border: 3px solid #f5f5f5;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: #ff9800;
}
