.home-banner {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    position: relative;
}

.home-banner .container {
    position: relative;
    z-index: 10;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.home-banner .container:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Ajustado a 300px */
    gap: 1rem;
    padding: 0 1rem;
}

.product-card {
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    max-width: 300px; /* Ajustado a 300px */
    margin: 0 auto;
}

.product-card:hover {
    transform: scale(1.05);
}

.product-card .swiper-container {
    width: 100%;
    height: 250px; /* Ajustado a 250px */
}

.product-card img {
    width: 100%;
    height: 250px; /* Ajustado a 250px */
    object-fit: contain;
}

.product-card .content {
    padding: 1rem;
}

.product-card h2 {
    font-size: 1.6rem; /* Ajustado a 1.6rem */
    margin: 0;
}

.product-card p {
    color: #555;
    font-size: 1.2rem; /* Ajustado a 1.2rem */
}

.product-card .price {
    font-size: 1.4rem;
    font-weight: bold;
    color: #333;
    margin-top: 0.5rem;
}

.swiper-button-next, .swiper-button-prev {
    color: #333;
}

.swiper-pagination-bullet {
    background: #333;
}

footer {
    background-color: #333;
    color: white;
    padding: 1rem 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Estilos para el modal de visualización de imagen */
.modal {
    display: none; 
    position: fixed; 
    z-index: 9999; 
    padding-top: 60px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.9); 
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

.modal-content, #caption {
    animation: zoom 0.6s;
}

@keyframes zoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
