/* Estilos generales */
body {
    font-family: 'Roboto', sans-serif;
}

#catalogo-title {
    margin-top: 10px; /* Ajustar según sea necesario */
}

.filter-button {
    position: relative;
    z-index: 10;
    transition: background-color 0.3s ease;
    width: 240px; /* Asegurar el mismo ancho */
    text-align: center; /* Centrar el texto */
}

.filter-button:focus + #filterMenu,
#filterMenu:hover {
    display: block;
}

#filterMenu {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    background: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 240px; /* Ancho ajustado para más espacio */
    text-align: center; /* Centrar el texto */
}

#filterMenu li {
    padding: 15px 25px; /* Aumentar el padding para más espacio */
    line-height: 1.6; /* Ajustar el line-height para más espacio entre líneas */
    cursor: pointer;
    transition: background-color 0.2s;
}

#filterMenu li:hover {
    background-color: #f0f0f0;
}

.hidden {
    display: none;
}

.modal {
    display: none;
    position: fixed;
    z-index: 9999;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.9);
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    animation: zoom 0.6s;
}

@keyframes zoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* Scrollbar Styles */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.7);
}
