{% extends 'catalogo/base.html' %}
{% block content %}
<h1>Administrar Categorías</h1>
<a href="{% url 'crear_categoria' %}">Crear Categoría</a>
<table>
    <tr>
        <th>Nombre</th>
        <th>Acciones</th>
    </tr>
    {% for categoria in categorias %}
    <tr>
        <td>{{ categoria.nombre }}</td>
        <td>
            <a href="{% url 'editar_categoria' categoria.id %}">Editar</a>
            <a href="{% url 'eliminar_categoria' categoria.id %}">Eliminar</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
