<!-- catalogo/templates/catalogo/crear_producto.html -->
{% extends 'catalogo/base.html' %}
{% load static %}
{% block content %}
<div class="container mx-auto px-4 py-12 common-container">
    <h1 class="text-3xl font-bold text-center mb-6">Crear Producto</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="form-group">
            <label for="imagenes">Imágenes:</label>
            <input type="file" name="imagenes" id="imagenes" multiple>
        </div>
        <div class="text-center mt-4">
            <button type="submit" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded">Guardar</button>
            <a href="{% url 'admin_productos' %}" class="bg-gray-500 hover:bg-gray-600 text-white font-bold py-2 px-4 rounded">Cancelar</a>
        </div>
    </form>
</div>
{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'catalogo/css/crear_productos.css' %}">
{% endblock %}
{% block extra_js %}
<script src="{% static 'catalogo/js/crear_productos.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}
