{% extends "catalogo/base.html" %}
{% load static %}

{% block content %}
<div class="bg-gray-100 min-h-screen pt-16">
    <div class="container mx-auto py-8">
        <div class="bg-white shadow-md rounded-lg p-10">
            <h1 class="text-3xl font-bold text-center mb-6">Cambiar Contraseña</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="text-center">
                    <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded-lg">Cambiar Contraseña</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
